# Turso
NUXT_TURSO_DB_URL=libsql://pisazo-xxx.turso.io
NUXT_TURSO_AUTH_TOKEN=eyJ...

# Idealista API
NUXT_IDEALISTA_API_KEY=
NUXT_IDEALISTA_API_SECRET=

# Site
NUXT_PUBLIC_SITE_URL=https://pisazo.netlify.app
NUXT_SITE_URL=https://pisazo.netlify.app
NUXT_SITE_NAME=Pisazo
